.inputSelect {
    width: 205px;
}

.ball {
    height: 14px;
    width: 14px;
}

.mySelect option {
    width: 250px;
    height: 400px;
}

.dropDown-item {
    padding: 100px !important;
    background-color: blue !important;
}