@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-theme {
  background-color: rgb(21, 170, 248) !important;
}

.bg-red, .bg-very-high {
  background-color: rgb(237,76,92) !important;
}

.bg-orange, .bg-high {
  background-color: rgb(248,165,64) !important;
}

.bg-green, .bg-normal {
  background-color: rgb(1,166,144) !important;
}

.bg-blue, .bg-low {
  background-color: rgb(66,139,193) !important;
}

.bg-purple, .bg-very-low {
  background-color: rgb(137,66,192) !important;
}

.bg-gray {
  background-color: rgb(244,244,244) !important;
}

.btn-theme{
  border: 0;
  border-radius: 45px;
  background-color: rgb(21, 170, 248);
  min-width: 150px;
  height: 54px;
  padding: 13px 21px 13px 14px;
}

.pointer{
  cursor: pointer;
}

/* h1, h2, h3, h4, h5 {
  font-weight: 700;
} */